<div class="layout__logo">
    <a href="" class="cover-link"></a>
    <img src="/uploads/myniafam/assets/img/niafam_logo_sticky.png" alt="" width="30" height="30">
</div>
<div class="layout__breadcrumb">
</div>
<div class="info">
    <div class="item theme">
    </div>
    <div class="item theme">
        <div class="dropdown">
            <div class="dropdown-toggle text__12">
                <img src="/uploads/myniafam/assets/img/ico-sun.svg" alt="">
            </div>
            <div class="dropdown-menu text__600 ">
                <ul>
                    <li data-theme="light-theme">
                        <a href="javascript:void(0);" onclick="setTheme('light-theme')">
                            <div class="icon">
                                <img src="/uploads/myniafam/assets/img/ico-sun.svg" alt="" width="16" height="16">
                            </div>
                            <span class="title text__12">روشن</span>
                        </a>
                    </li>
                    <li data-theme="dark-theme">
                        <a href="javascript:void(0);" onclick="setTheme('dark-theme')">
                            <div class="icon">
                                <img src="/uploads/myniafam/assets/img/ico-moon.svg" alt="" width="16" height="16">
                            </div>
                            <span class="title text__12">تیره</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="item user">
        <div class="dropdown">
            <div class="dropdown-toggle text__12">
                <!--<img src="/uploads/myniafam/assets/img/user.png" alt="" width="40" height="40">-->
            </div>
            <div class="dropdown-menu text__600 ">
                <div class="user__info">
                    <div class="pic">

                    </div>
                    <div class="info">
                        <div id="user_fullname" class="fullname text__12">آیدین صاحبی</div>
                        <div class="username text__12  text__400"><span id="user_username">aidin78</span> 
                        </div>
                    </div>
                </div>
                <ul class="user__menu">
                    <li>
                        <a href="">
                            <span class="title text__12">پروفایل من</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="title text__12">امنیت</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="title text__12">راهنما</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="title text__12">خروج</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>