<div class="layout__menu">
    <div class="accordion menu-list" id="accordionExample">
        <div class="accordion accordion-flush" id="accordionFlushExample">

            <div class="item">
                <a href="javascript:void(0)" class="link text__500 text__14 text__darker-gray" data-page="dashboard">
                    <img src="/uploads/myniafam/assets/img/ico-dash.png" alt="Dashboard Icon" width="20" height="20" />
                    <span>داشبورد</span>
                </a>
            </div>

            <div class="item">
                <a href="javascript:void(0)"
                    class="link text__500 text__14 text__darker-gray accordion-button collapsed active"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapsePeople" aria-expanded="false"
                    aria-controls="flush-collapsePeople">
                    <img src="/uploads/myniafam/assets/img/ico-support.png" alt="User Management Icon" width="20" height="20" />
                    <span>سامانه پشتیبانی</span>
                </a>
                <div id="flush-collapsePeople" class="content accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <ul>
                        <li><a href="" class="text__500 text__14 text__darker-gray" data-page="ticketcreate">ثبت تیکت</a></li>
                        <li><a href="" class="text__500 text__14 text__darker-gray" data-page="ticketlist">لیست تیکت ها</a></li>
                        <li><a href="" class="text__500 text__14 text__darker-gray" data-page="ticketarchive">بایگانی</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="menu__close">
        <a href="" id="menu-close">
            <img src="/uploads/myniafam/assets/img/double-arrow.png" alt="" width="20" height="20">
        </a>
    </div>
</div>