.bg {
  &__transparent {
    background-color: transparent !important;
  }

  &__white {
    background-color: #fff;
  }

  &__dark {
    background-color: #f5f8fa;
  }

  &__red {
    background: #eb1c2f;
  }

  &__gray {
    background: #f8f8f8;
  }

  &__blue {
    background: #103262;
  }
}

.text {

  // Color
  &__dark {
    color: #01193d;
  }

  &__white {
    color: var(--secondary-color);
  }

  &__dark {
    color: var(--primary-color);
  }

  &__light {
    color: #818899 !important;
  }

  &__dark-blue {
    color: #21325e;
  }

  &__purple {
    color: #424874;
  }

  &__blue {
    color: #00509d;
  }

  &__light-blue {
    color: #3083ff;
  }

  &__gray {
    color: #707070;
  }

  &__red {
    color: #A71B24;
  }

  &__blue {
    color: #103262;
  }

  &__orange {
    color: #FF9B18;
  }

  // font-Weight
  &__bold {
    font-weight: bold;
  }

  &__medium {
    font-weight: 440;
  }

  &__semibold {
    font-weight: 600;

  }

  &__extrabold {
    font-weight: 800;
  }

  // Position
  &__center {
    text-align: center;
    justify-content: center;
  }

  &__justify {
    text-align: justify;
  }

  // Size
  @for $i from 5 to 60 {
    &__#{$i} {
      $em: calc($i / 16);
      font-size: #{$em}+"em";
    }
  }
}

.line-clamp {
  &__1 {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__3 {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__7 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__9 {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flickity-page-dots {
  .dot {
    transition: all 0.2s linear;
  }
}

.gap-30 {
  gap: 30px;
}


body {
  font-weight: normal;
  font-family: 'Pinar';
  height: 100vh;
  overflow: hidden;
  background: #f3f4f6;
  text-align: right;
}

// Snippets
h1,
h2,
h3,
h4,
h5,
strong {
  color: rgba($color: #000, $alpha: .8);
}

.text {
  &__blue {
    color: #169DF1;
  }

  &__gr-purple {
    background: linear-gradient(268.94deg, #4D00FF -0.65%, #C258FF 104.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #800080;
  }

  &__gr-green {
    background: linear-gradient(102.02deg, #0CB879 7.38%, #007A49 91.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #007A49;
  }

  &__gray {
    color: #565F76;
  }

  &__darker-gray {
    color: #2B3A4A;
  }

  &__dark-blue {
    color: #182036 !important;
  }

  &__light-blue {
    color: rgba($color: #182036, $alpha: 0.7);
  }

  &-center {
    text-align: center;
  }

  @for $i from 1 through 9 {
    &__#{$i * 100} {
      font-weight: $i * 100;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

p {
  line-height: normal;
}

a {
  text-decoration: none;
  transition: all .2s linear;

  &:hover {
    color: rgba($color: #000, $alpha: 1);
  }

  &[data-text="true"] {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -6.5px;
      height: 1.5px;
      background-color: #0B6CCA;
      width: 0px;
      border-radius: 0;
      transition: all .2s linear;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.bg {
  @for $i from 1 through 8 {
    &__blur-#{$i} {
      $opacity: $i * 0.1; // محاسبه میزان شفافیت

      background: rgba(255, 255, 255, $opacity); // در صورت پشتیبانی از backdrop-filter
      border: 0.5px solid #FFFFFF;

      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);

      /* fallback برای مرورگرهایی که backdrop-filter را پشتیبانی نمی‌کنند */
      @supports not (backdrop-filter: blur(50px)) {
        background: rgba(255, 255, 255, $opacity + 0.2);
      }
    }
  }
}

.p-relative {
  position: relative;
}